<h2>
    Tab Panel
</h2>


<div class="container">

   <ng-template #headerButtons>

        <button (click)="tabPanel.selectTab(loginTab)">Login</button>
        <button (click)="tabPanel.selectTab(signUpTab)">Sign Up</button>

    </ng-template>


    <au-tab-panel id="tab-panel" #tabPanel>

        <au-tab title="Login" #loginTab [selected]="false">
            <form>
                <div class="form-field">
                    <label>Email:</label><input class="login-email">
                </div>
                <div class="form-field">
                    <label>Password:</label><input>
                </div>
            </form>
        </au-tab>

        <au-tab title="Sign Up" #signUpTab [selected]="false">
            <form>
                <div class="form-field">
                    <label>Email:</label><input>
                </div>
                <div class="form-field">
                    <label>Password:</label><input>
                </div>
                <div class="form-field">
                    <label>Confirm Password:</label><input>
                </div>
            </form>
        </au-tab>

        <au-tab title="Contact" [selected]="true">
            <form>
                <div class="form-field">
                    <label>Email:</label><input class="contact-email">
                </div>
                <div class="form-field">
                    <label>Message:</label>
                    <textarea></textarea>
                </div>
            </form>
        </au-tab>        
    </au-tab-panel>

    <ng-template #modalBody>            
        <ng-template #modalButtons>        
            <div class="modal-buttons">
                <button (click)="tabPanel.selectTab(stripeTab)">Stripe</button>
                <button (click)="tabPanel.selectTab(paypalTab)">Paypal</button>
            </div>        
        </ng-template>
                
        <au-tab-panel #tabPanel>

                <au-tab title="Stripe" #stripeTab>
    
                    <div class="payment-form">
    
                        <label>Email:</label>
                        <au-fa-input class="form-input" icon="envelope">
                            <input auInput type="email" placeholder="Email">
                        </au-fa-input>
    
                        <label>Name:</label>
                        <input class="form-input" placeholder="Name">
    
                        <label>Card Number:</label>
                        <au-fa-input icon="cc-stripe" class="form-input">
                            <input auInput placeholder="Card Number" au-mask="9999 9999 9999 9999">
                        </au-fa-input>
    
                    <label>Card Date:</label>
                    <input placeholder="Date" au-mask="19/9999" class="form-input">            
                    <label>CVC:</label>
                    <input placeholder="CVC" au-mask="999" class="form-input">            
                    <label>Coupon Code:</label>
                    <input placeholder="Coupon Code (optional)" class="form-input">            
                    <button class="modal-button">Trigger Stripe Payment</button>            
                </div>            
            </au-tab>        
            <au-tab title="Paypal" #paypalTab>            
                <div class="payment-form">
                    <label>Coupon Code:</label>
                    <input placeholder="Coupon Code (optional)" class="form-input">

                    <button class="modal-button">Trigger Paypal Payment</button>
                </div>            
            </au-tab>            
        </au-tab-panel>            
    </ng-template>
                        
    <au-modal [@fadeInOut] *auModalOpenOnClick="paymentModal" [body]="modalBody"></au-modal>
                
    <button #paymentModal>Open Payment Modal</button>
</div>


